MiniTestTraining/
untitled/

TPs/hero/.idea/workspace.xml
TPs/hero/.idea/
TPs/hero/.gradle/
TPs/hero/out/
TPs/hero/build/
TPs/hero/*.iml

TPs/operations/out/
TPs/operations/*.idea/
TPs/operations/.idea/
TPs/operations/*iml

TPs/helloworld/out/
TPs/helloworld/.idea/
TPs/helloworld/*.iml

TPs/area-calculator/gradle/
TPs/area-calculator/build/
TPs/area-calculator/.gradle/
TPs/area-calculator/.idea/
TPs/area-calculator/build.gradle
TPs/area-calculator/gradlew
TPs/area-calculator/gradlew.bat
TPs/area-calculator/settings.gradle

TPs/numbers/gradle/
TPs/numbers/build/
TPs/numbers/.gradle/
TPs/numbers/.idea/
TPs/numbers/build.gradle
TPs/numbers/gradlew
TPs/numbers/gradlew.bat
TPs/numbers/settings.gradle

TPs/designPatterns/.gradle/
TPs/designPatterns/.idea/
TPs/designPatterns/build.gradle
TPs/designPatterns/build/
TPs/designPatterns/gradle/
TPs/designPatterns/settings.gradle
TPs/designPatterns/gradlew*

TPs/refactoring/build/
TPs/refactoring/gradle/
TPs/refactoring/.gradle/
TPs/refactoring/.idea/
TPs/refactoring/*.gradle
TPs/refactoring/gradlew
TPs/refactoring/*.bat

